body{
    background: rgb(78 165 0);
    /* background: -moz-radial-gradient(circle, rgb(228 255 0) 0%, rgb(106 199 4) 32%, rgb(30 60 3) 100%);
    background: -webkit-radial-gradient(circle, rgb(228 255 0) 0%, rgb(106 199 4) 32%, rgb(30 60 3) 100%);
    background: radial-gradient(circle, rgb(228 255 0) 0%, rgb(106 199 4) 32%, rgb(30 60 3) 100%); */
    min-height: 100%;
}
.filter{
    /* position: absolute; */
    background: transparent;
    z-index: 1;
    width: 100%;
    margin: 30px 0;
}
.page-content{
    min-height: 100%;
}
.page-content #maps{
    height: 100%;
}
.filter .data-filter{
    background: rgb(0 0 0 / 19%);
    padding: 10px !important;
    border-radius: 5px;
    /* border: 1px solid rgb(255 255 255); */
    color: rgb(255 255 255);
}
.filter .data-filter .form-group{
    margin-bottom: 0 !important;
}
path{
    fill: rgb(109 108 108);
    /* fill: rgb(3, 89, 175); */
    /* stroke: rgb(167, 167, 167); */
    stroke: #ffffff;
    stroke-width: 1px;

    stroke-dashoffset: 700;
    stroke-dasharray: 700;
    stroke-linecap: butt;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
path:hover {
    /* fill: #ffffff; */
    stroke: #ffffff;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: 1px;
}
.aman{
    fill: #ffffff;
    stroke: rgb(3, 89, 175);
    color: #ffffff;
}
.surpluss{
    fill: rgb(27, 84, 8);
    color: rgb(27, 84, 8);
}
.surplus{
    fill: rgb(203 242 0);
    color: rgb(203 242 0);
}
.minuss{
    fill: rgb(216, 0, 0);
    color: rgb(216, 0, 0);
}
.minus{
    fill: rgb(249 94 34);
    color: rgb(249 94 34);
}
body #tooltip{
    display: none;
    padding: 3px 7px;
    border-radius: 3px;
    /* background: rgb(255, 255, 255); */
    background: rgb(0 0 0 / 82%);
    color: #ffffff;
    /* border: 1.5px solid #ffffff; */
    font-size: 14px;
    font-family: sans-serif;
    position:absolute !important;
    z-index: 999999999999;
}
.modal-body img{
    width: 100%;
}
.anchor{
    border-radius: 3px;
    position: absolute;
    background: rgb(255, 212, 0);
    color: #000000;
    padding: 3px 7px;
    display: block;
    font-size: 11px;
    font-weight: 600;
}
.tab-pane .info{
    background: rgb(0 0 0 / 19%);
    position: absolute;
    z-index: 99999;
    /* left: 5px; */
    /* bottom: 5px; */
    padding: 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    /* width: 400px; */
}
.info table tbody tr td{
    padding-right: 10px;
}
.default{
    color: rgb(109 108 108);
}
.transparent{
    background-color: transparent !important;
}
.table{
    color: #ffffff;
    /* border: none !important; */
}
/* .table > tbody > tr.odd > td,
.table > tbody > tr.odd > th {
    background-color: rgb(44 62 80 / 40%);
} */
.table > tbody > tr:nth-child(2n) > td{
    background-color: rgb(44 62 80 / 40%);
}
.table td{
    border-top: 1.5px solid rgb(90 89 89 / 94%) !important;
}
.table > thead,
.table > thead > tr > th{
    background: transparent !important;
    border: none !important;
}
.widget-activity, .widget-tasks {
    border: solid 1px rgb(90 89 89 / 94%) !important;
    /* background: rgb(255 255 255); */
    background: rgb(63 126 39);
    padding: 0 0 5px;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}