.form-control-label{
    padding-top: 8px;
}
.btn-skpg{
    background: rgb(172 107 236) !important;
    border-color: rgb(172 107 236) !important;
    color: rgb(255 255 255) !important;
}
.btn-skpg:hover{
    background: rgb(255 255 255) !important;
    border-color: rgb(172 107 236) !important;
    color: rgb(172 107 236) !important;
}
.btn.btn-danger:hover {
    background-color: rgb(255 255 255) !important;
    border-color: rgb(250 66 74);
    color: rgb(250 66 74) !important;
}
.btn.btn-success:hover {
    background-color: rgb(255 255 255) !important;
    border-color: rgb(70 195 95);
    color: rgb(70 195 95) !important;
}
.btn.btn-warning:hover {
    background-color: rgb(255 255 255) !important;
    border-color: rgb(242 152 36);
    color: rgb(242 152 36) !important;
}
.btn-pangan{
    background: rgb(0, 195, 170) !important;
    border-color: rgb(0, 195, 170) !important;
    color: #ffffff !important;
}
.btn-pangan:hover{
    background: rgb(0, 195, 170) !important;
    border-color: rgb(0, 195, 170) !important;
}
.btn-fkam{
    background: rgb(179, 72, 174) !important;
    border-color: rgb(179, 72, 174) !important;
    color: #ffffff !important;
}
.btn-fkam:hover{
    background: rgb(179, 72, 174) !important;
    border-color: rgb(179, 72, 174) !important;
}
.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 7px 9px;
    margin: -10px 0;
    background: rgba(0, 0, 0, .15);
    border-radius: 3px 0 0 3px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.side-menu-list>li.pangan .with-sub>span, .side-menu-list>li.pangan.opened a, .side-menu-list>li.pangan.opened>span{
    border-left-color: rgb(0, 195, 170) !important;
}
.side-menu-list>li.pangan .fa, .side-menu-list>li.pangan .font-icon, .side-menu-list>li.pangan .glyphicon{
    color: rgb(0, 195, 170) !important;
}
@media (min-width: 992px){
    .modal-xl {
        max-width: 800px !important;
    }
}
@media (min-width: 1200px){
    .modal-xl {
        max-width: 1140px !important;
    }
}
.site-header .site-header-shown{
    margin-top: 5px;
    margin-right: -20px;
}
.statistic-box .caption>div{
    padding: 10px !important;
}
.statistic-box>div{
    height: unset !important;
}
.statistic-box .number{
    padding: 15px 0 0;
}
.text-red{
    color: red !important;
}
.dash {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: no-repeat 50% 50%;
    background-size: cover;
    margin: 0 0 30px;
}
.dash .number {
    font-size: 3.125rem;
    line-height: 1;
    padding: 15px 0 0;
}
.dash .caption {
    font-size: 1.0625rem;
    font-weight: 600;
    position: relative;
    min-height: 35px;
    line-height: 1;
    padding: 10px;
}
.dash.red{
    background: red;
}
.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box>.inner {
    padding: 10px;
    color: #fff;
    font-weight: 800;
    border-radius: 4px;
}
.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    z-index: 5;
}
.small-box p {
    z-index: 5;
    font-size: 15px;
    margin-bottom: 5px !important;
}
.xs-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.xs-box>.inner {
    padding: 10px;
    color: #fff;
    font-weight: 800;
    border-radius: 4px;
}
.xs-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 0;
    font-size: 60px;
    color: rgba(0,0,0,0.15);
}
.xs-box h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    z-index: 5;
}
.xs-box p {
    z-index: 5;
    font-size: 15px;
    margin-bottom: 5px !important;
}
.bg-magenta{
    background-color: rgb(179, 72, 174) !important;
}
.bg-yellow{
    background-color: rgb(243, 156, 18) !important
}
.bg-green{
    background-color: rgb(0, 166, 90) !important;
}
.bg-aqua{
    background-color: rgb(0, 192, 239) !important;
}
.bg-red{
    background-color: rgb(221, 75, 57) !important;
}
.card-block .panel-heading {
    padding: 0 0 13px 0!important;
}
.card-block .box-typical-header {
    border-bottom: solid 1px rgb(216, 226, 231);
}
.card-block .panel-heading .panel-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    padding: 0;
    margin-top: 5px;
}
hr{
    margin: 10px 0 !important
}
.title-report{
    padding: 7px 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.box-typical{
    margin: 0 !important;
}
.btn-sm .btn-label{
    left: -9px;
    padding: 5px 9px;
}
.progress-default{
    background-color:#ecf2f5 !important;
    height: 12px;
}
.col-xs-6{
    width: 50%;
}
.btn.btn-closer{
    background-color:#DC143C;
    border-color:#DC143C
}
.btn.btn-closer:active,
.btn.btn-closer:hover{
    background-color:#ffffff!important;
    border-color:#DC143C!important;
    color:#DC143C!important;
}
.fileinput{
    margin-bottom: 9px;
    display: inline-block;
}
.fileinput .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
  }
.fileinput .thumbnail[data-trigger="fileinput"]{
    cursor: pointer;
}
.fileinput .thumbnail:before,
.fileinput .thumbnail:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.fileinput .thumbnail:after {
    clear: both;
}
.fileinput .thumbnail > img {
    max-height: 100%;
    display: block;
    width: 100%;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
  display: none;
}
/* .dropdown-menu{
    border: 1.3px solid rgb(0, 195, 170);
    background: rgb(0, 195, 170);
    color: rgb(255, 255, 255);
}
.dropdown-menu a{
    border-bottom: none !important;
    color: #ffffff !important;
    font-weight: 600;
} */
table.mt-0{
    margin-top: 0px !important;
}
.mtb_5{
    margin: -5px 0 !important;
}
.google-map{
	position: absolute;
	height: 100%;
	width: 100%;
    top: 0;
    bottom: 0;
}
.p-15{
    padding: 15px !important;
    display: block;
}
.btn-header{
    margin: -4px 2px !important;
    float: right;
}
table.dataTable thead th {
    vertical-align: middle;
}
.btn.btn-xs{
    padding: 0 5px !important;
    font-size: .875rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.mb-50{
    margin-bottom: 50px !important;
}
.page-content{
    min-height: 100vh;
}
.biroren{
    min-height: 100vh;
    background-image: -webkit-radial-gradient(circle, rgb(63 145 205), rgb(14 49 75)) !important;
    background-image: radial-gradient(circle, rgb(63 145 205), rgb(14 49 75)) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 0 !important;
}
.aman{
    fill: rgb(75 255 0);
    color: rgb(75 255 0);
}
path{
    fill: #ffffff;
    stroke: #ff9900;
    stroke-width: .9px;
    stroke-dashoffset: 700;
    stroke-dasharray: 700;
    stroke-linecap: butt;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.widget path{
    fill: rgb(57 67 106);
}
path:hover {
    stroke: #ff9900;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: .9px;
}
.mb_0{
    margin-bottom: 0 !important;
}
.side-menu-list>li.maroon .with-sub>span,
.side-menu-list>li.maroon.opened a,
.side-menu-list>li.maroon.opened>span{
    border-left-color: #DC143C;
}
.side-menu-list>li.maroon .fa,
.side-menu-list>li.maroon .font-icon,
.side-menu-list>li.maroon .glyphicon{
    color: #DC143C;
}
.checkbox-bird.maroon input:checked+label:before {
    color: #DC143C;
}
.filter{
    background: #DC143C;
    z-index: 1;
    color: rgb(255 255 255);
    padding-top: 1rem;
    margin-bottom: 10px;
}
.bg_red{
    background: red !important;
    color: #ffffff !important;
    font-weight: 900;
}
.purple {
    background-color: rgb(172 107 236) !important;
}
.danger{
    background: red !important;
    color: #ffffff !important;
    font-weight: 700;
}
.warning{
    background: yellow !important;
    font-weight: 700;
}
.safe{
    background: green !important;
    color: #ffffff !important;
    font-weight: 700;
}
.mt_-5{
    margin-top: -5px !important;
}
.widget-activity .widget-activity-item, .widget-tasks .widget-activity-item{
    color: rgb(85 88 90) !important;
}
.btn-sm .btn-label.right{
    right: -9px !important;
}
.btn-label.right{
    left: unset !important;
    right: -12px !important;
}
.chat-dialog-area{
    height: calc(100vh - 180px) !important;
}
.task-card-photo{
    height: 198px;
    overflow: hidden;
}
.task-card-photo span{
    background-size: cover;
    background-position: center;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 1px inset #000000;
}
.task-card-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
    height: 66px;
}
.task-card{
    margin-bottom: 15px !important;
}
.task-card.task.green{
    border-top: solid 4px green !important;
    background: unset !important;
}
.task-card.task.red{
    border-top: solid 4px red !important;
    background: unset !important;
}
.task-card.task.blue{
    border-top: solid 4px blue !important;
    background: unset !important;
}
.task-card.task.yellow{
    border-top: solid 4px yellow !important;
    background: unset !important;
}
.task-card.task.black{
    border-top: solid 4px black !important;
    background: unset !important;
}
.task-card.task.pink{
    border-top: solid 4px pink !important;
    background: unset !important;
}
.task-card.task.purple{
    border-top: solid 4px purple !important;
    background: unset !important;
}
.chat-settings .item a:hover, .chat-settings .item a:hover .font-icon{
    color: #DC143C !important;
}
.site-header .user-menu.dropdown .dropdown-toggle:hover,
.site-header .user-menu.dropdown.open .dropdown-toggle{
    color: #DC143C !important;
}
.page-item.active .page-link{
    border-color: #DC143C !important;
    background-color: #DC143C !important;
    color: #FFFFFF !important;
}
.page-link{
    color: #DC143C !important;
}
.dd-handle{
    padding: 7px 70px 7px 10px !important;
    height: unset !important;
}
/* .dd-handle span{
    margin-right: -63px !important;
} */
.dd-maroon .dd-handle:hover {
    background-color: #DC143C;
    border-color: #DC143C;
}
.dropdown-item.current, .dropdown-item:hover{
    color: #DC143C !important;
}
.dropdown-item.current .font-icon, .dropdown-item:hover .font-icon{
    color: #DC143C !important;
}
.show-hide-sidebar:hover span, .show-hide-sidebar:hover span:after, .show-hide-sidebar:hover span:before{
    background-color: #DC143C !important;
}
@keyframes spinner-border {
    to { transform: rotate(360deg); }
} 
.spinner-border{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.spinner-border-sm{
    width: 1.2rem;
    height: 1.2rem;
    border-width: .2em;
}
.widget-accordion .panel-heading a[aria-expanded=true]{
    color: #DC143C !important;
}
.widget-accordion .panel-heading a[aria-expanded=true] .font-icon{
    color: #DC143C !important;
}
.m_0{
    margin: 0 !important;
}
.quest{
    box-shadow: 1.5px 0px 0px #c9c8c8;
}
.mb_20{
    margin-bottom: 20px !important;
}
td,
td ul li{
    white-space: nowrap;
}
.fa-danger{
    color: #fa424a;
}
span{
    cursor: pointer;
}
.widget .dd-handle{
    /*padding: 0 !important;*/
}
.dd-handle .label{
    margin-right: -60px;
}
.dd-handle:hover th,
.dd-handle:hover td{
    color: #343434 !important;
}
.widget-activity .widget-tasks-item, .widget-tasks .widget-tasks-item{
    padding: 12px 15px !important;
}
.btn-group-sm{
    /*margin: -6px 0 !important;*/
    margin: -9px 0 -8px -5px !important;
}
.widget-activity, .widget-tasks{
    border: none !important;
}
#sort .widget-header{
    padding: 10px 70px 10px 10px !important;
}
#sort .dd-handle,
#home .dd-handle{
    padding: 0 !important;
}
#home .dd-handle .label{
    margin-right: 0 !important;
}
.checkbox-bird input:checked+label:before{
    color: #DC143C !important;
}
/* #sort .dd-handle .label{
    margin-right: 0 !important;
} */
.select2-container--arrow .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--white .select2-selection--multiple .select2-selection__choice{
    background: rgb(220 25 60) !important;
}
.select2-container--arrow .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--white .select2-selection--multiple .select2-selection__choice__remove{
    right: -2px !important;
    background: rgb(0 0 0 / 15%) !important;
    top: 0px !important;
}