.container {
    max-width: 1200px;
}
.tbl-cell h4{
    font-weight: 700;
    padding: 5px;
    color: rgb(57, 67, 106);
}
.clv_header{
    background-color: #fff !important;
    /* padding: 5px 0; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    margin-bottom: 50px;
    border-bottom: 2px solid rgb(57 67 106);
}
.bg-public{
    background-color: #39436a !important;
    padding-top: 6px;
}
.bg-public .form-label{
    color: #fff !important;
    font-weight: 600;
}
.index_v5 .clv_right_header .clv_menu {
    background-color: unset;
    align-items: center;
    justify-content: flex-end;
}
.clv_right_header .clv_menu {
    background-color: rgb(254, 192, 7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 35px 35px 0px 0px;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav {
    padding: 0;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li {
    display: inline-block;
    position: relative;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav > ul > li {
    color: rgb(57, 67, 106);
    margin-left: -4px;
}
.clv_menu_nav ul li a:after{
    background: transparent !important;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav > ul > li > a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a {
    padding: 28px 12px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: rgb(57 67 106) !important;
    text-transform: capitalize;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a:hover,
.clv_right_header .clv_menu .clv_menu_nav > ul > li.active a{
    background: #39436a !important;
    color: #ffffff !important;
}
a, a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
    color: rgb(117, 117, 117);
    outline: none;
}
a:hover {
    color: rgb(0, 86, 179);
    text-decoration: underline;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav > ul > li > a:after {
    background-color: rgb(34, 34, 34);
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a:hover:after {
    width: 60%;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.clv_logo{
    float: left !important;
    width: 100%;
    padding: 16px 0;
}
.clf_btn{
    height: 50px;
    line-height: 50px;
    display: inline-block;
    outline: none;
    border: 1px solid rgb(56, 165, 81);
    background: none;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    border-radius: 30px;
    font-size: 16px;
    color: rgb(56, 165, 81);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    padding: 0 20px;
    margin: 10px 0;
}
.clf_btn:hover{
    background: rgb(56, 165, 81);
    color: #fff;
}
.pull-right{
    float: right;
}
.tabs-section-nav.tabs-section-nav-inline .nav{
    background: transparent !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav{
    border: none !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav-item{
    margin: 0 !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav-link{
    color: rgb(57 67 106);
    padding: 8px 20px;
    border-bottom: solid 3px transparent;
    /* border-bottom: solid 3px rgb(57 67 106); */
    /* background: rgba(0, 0, 0, 0.12) !important; */
}
.tabs-section-nav.tabs-section-nav-inline .nav-link.active{
    color: #ffffff !important;
    background: rgb(57 67 106) !important;
    border-bottom: solid 3px transparent;
}
.content .tabs-section{
    margin: 0 -15px !important;
    /* margin: 0 -15px 20px -15px !important; */
}
.tabs-section>.tab-content:not(.no-styled){
    background: rgb(57 67 106) !important;
    border: none !important;
    border-top:none;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    padding: 15px !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav-item{
    float: right !important;
}
.tab-content{
    /* background: transparent !important; */
    border: none !important;
}
.public-title{
    color: #fff;
}

.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, .8);
    border: solid 2px rgba(230, 230, 230, .8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: 700;
    margin: .25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: .1em 0
}

.morris-hover {
    position: absolute;
    z-index: 903
}

.fixed-page-footer .morris-hover {
    z-index: 900
}
#maps{
    background: rgb(57 67 106) !important;
    width: 100%;
    padding: 10px;
}
.tab-content{
    border-bottom: 2px solid rgb(57, 67, 106) !important;
    border-radius: unset !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: rgb(224, 28, 30) !important;
}
.widget-header-dongker {
    background: rgb(57 67 106);
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
}
.graph path{
    background: red !important;
    /* background: rgb(57, 67, 106) !important; */
}
.pr-0{
    padding-right: 0 !important;
}
.pl-0{
    padding-left: 0 !important;
}
.widget{
    height: 150px !important;
}
.graph{
    height: 110px !important;
}
.description{
    margin-left: -15px;
    padding: 10px 5px 10px 0;
}
.description h4, .description h5{
    font-weight: 900;
    color: rgb(57, 67, 106);
    /* color: #ffffff; */
    margin: 0;
}
.description .label{
    font-size: .8rem !important;
    font-weight: 900 !important;
}
#graphic{
    /* margin: auto -15px; */
}
.clv_copyright_wrapper{
    background-color: #0003251a;
	text-align: center;
    padding: 14px;
    border-top: 1px solid rgb(47 114 163);
}
.clv_copyright_wrapper > p{
	margin: 0;
	text-transform: capitalize;
	color: #ffffff;
	font-size: 16px;
}
.clv_copyright_wrapper > p > a{
    color: rgb(255, 255, 255);
}
.infografis{
    /* padding-top: 2em; */
    min-height: 600px;
}
.infografis #pie{
    min-height: 480px;
}
.infografis #histogram,
.infografis #stacked{
    margin: 20px 0;
    min-height: 350px;
}
.mapboxgl-ctrl-bottom-left{
    display: none !important;
}
.m-5{
    margin: 5px !important;
}
.btn-md{
    padding: 5px 10px !important;
    border: none !important;
}
.btn-white{
    background: #ffffff !important;
    color: rgb(85 85 85) !important;
}
.flot-text{
    color: rgb(255 255 255) !important;
    font-weight: 900;
}
hr{
    border-bottom: 2px solid rgb(57, 67, 106);
}
body{
    background: rgb(236 239 244);
    /* background: -moz-radial-gradient(circle, rgb(228 255 0) 0%, rgb(106 199 4) 32%, rgb(30 60 3) 100%);
    background: -webkit-radial-gradient(circle, rgb(228 255 0) 0%, rgb(106 199 4) 32%, rgb(30 60 3) 100%);
    background: radial-gradient(circle, rgb(228 255 0) 0%, rgb(106 199 4) 32%, rgb(30 60 3) 100%); */
    min-height: 100%;
}
.content{
    /* background: rgb(57 67 106) !important; */
}
/* .filter{
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 100%;
    margin: 0 0 30px 0;
} */
.filter{
    background: rgb(0 0 0 / 19%);
    z-index: 1;
    width: 100%;
    color: rgb(255 255 255);
    /* padding: 10px; */
    border-radius: 6px;
    box-shadow: 0px 0px 1px white;
}
.filter a {
    color: #ffffff !important;
    display: block;
    padding: 10px !important;
}
.filter .card-header{
    /* border-bottom:  */
    padding: 0 !important;
    border-bottom: none !important;
    background-color: rgb(0 30 84 / 48%);
}
.filter .card-body{
    padding: 10px 10px 10px 10px !important;
}
.page-content{
    min-height: 100vh;
}
.page-content #maps{
    height: 100%;
}
.container-fluid.maps{
    margin-top: 110px;
    min-height: 80vh;
}
.filter .data-filter{
    /* background: rgb(57 67 106) !important; */
    /* padding: 10px !important; */
    /* border-radius: 5px; */
    /* border: 1px solid rgb(255 255 255); */
    /* color: rgb(255 255 255); */
}
.filter .data-filter .form-group{
    margin-bottom: 0 !important;
}
.normal{
    fill: rgb(255 235 163);
    color: rgb(255 235 163);
}
.surpluss{
    fill: rgb(27, 84, 8);
    color: rgb(27, 84, 8);
}
.aman{
    fill: rgb(75 255 0);
    color: rgb(75 255 0);
}
.rawan{
    fill: rgb(255 235 0);
    color: rgb(255 235 0);
}
.waspada{
    fill: rgb(255 0 0);
    color: rgb(255 0 0);
}
.minuss{
    fill: rgb(160 2 2);
    color: rgb(160 2 2);
}
.table tbody .surpluss,
.table tbody .surplus,
.table tbody .minuss,
.table tbody .minus,
.table tbody .warning{
    color: #000000 !important;
    /* color: rgb(57 67 106) !important; */
    font-weight: 600;
}
body #tooltip{
    display: none;
    padding: 3px 7px;
    border-radius: 3px;
    /* background: rgb(255, 255, 255); */
    background: rgb(0 0 0 / 82%);
    color: #ffffff;
    /* border: 1.5px solid #ffffff; */
    font-size: 14px;
    font-family: sans-serif;
    position:absolute !important;
    z-index: 999999999999;
}
.modal-body img{
    width: 100%;
}
.anchor{
    border-radius: 3px;
    position: absolute;
    background: rgb(255, 212, 0);
    color: #000000;
    padding: 3px 7px;
    display: block;
    font-size: 11px;
    font-weight: 600;
}
#maps .info{
    background: rgb(0 0 0 / 19%);
    position: absolute;
    z-index: 99999;
    left: 10px;
    bottom: 10px;
    padding: 3px 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 16px;
    width: 150px;
}
#maps .info ul li{
    margin: 7px 0;
}
.info table tbody tr td{
    padding-right: 10px;
}
.default{
    /* color: rgb(109 108 108); */
    color: #ffffff;
}
.table.transparent{
    background-color: transparent !important;
}
.table.transparent{
    color: #ffffff;
    /* border: none !important; */
}
.table.transparent > tbody > tr:nth-child(2n) > td{
    /* background-color: rgb(0 0 0 / 42%); */
}
.table.transparent td{
    border-top: 1.5px solid rgb(90 89 89 / 94%) !important;
}
.table.transparent > thead,
.table.transparent > thead > tr > th{
    background: transparent !important;
    border: none !important;
}
.widget-activity, .widget-tasks {
    border: solid 1px rgb(90 89 89 / 94%) !important;
    /* background: rgb(255 255 255); */
    background: #ffffff;
    padding: 0 0 5px;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
}
.bg_red{
    background: red;
    color: #ffffff;
    font-weight: 900;
}
.pt_0{
    padding-top: 0px !important;
}
.mb_50{
    margin-bottom: 50px !important;
}
.btn.btn-default{
    background: #ffffff;
    color: rgb(18 47 71) !important;
}
.media-large{
    display: block;
}
.media-small{
    display: none;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}
.splash{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    background-image: -webkit-radial-gradient(circle, rgb(63 145 205), rgb(14 49 75)) !important;
    background-image: radial-gradient(circle, rgb(63 145 205), rgb(14 49 75)) !important;
    color: #ffffff;
}
.splash img{
    width: 150px;
    margin-top: calc(50vh - 150px);
}
.p_0{
    padding: 0 !important;
}
@media(max-width: 599px){
    .media-large{
        display: none;
    }
    .media-small{
        display: block;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .container-fluid.maps {
        margin-top: 80px;
    }
    .service_block p{
        font-size: 12px !important;
    }
    .service_block h4{
        font-size: 15px !important;
    }
    .service_icon img{
        width: 40% !important;
        height: 85px !important;
    }
    .clv_service_wrapper .service_block{
        padding: 10px 5px !important;
    }
    div.color-palette div span.color-lock{
        font-size: 12px !important;
    }
    .clv_logo{
        padding: 12px 0 !important;
    }
    .clv_service_wrapper{
        margin-top: 30px !important;
        margin-bottom: 15px !important;
    }
}