
.container {
    max-width: 1200px;
}
.tbl-cell h4{
    font-weight: 700;
    padding: 5px;
    color: rgb(57, 67, 106);
}
.clv_header{
    background-color: #fff !important;
    padding: 5px 0;
}
.bg-public{
    background-color: #39436a !important;
    padding-top: 6px;
}
.bg-public .form-label{
    color: #fff !important;
    font-weight: 600;
}
.index_v5 .clv_right_header .clv_menu {
    background-color: unset;
    align-items: center;
    justify-content: flex-end;
}
.clv_right_header .clv_menu {
    background-color: rgb(254, 192, 7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 35px 35px 0px 0px;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav {
    padding: 0;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav > ul > li {
    padding: 18px 0;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li {
    display: inline-block;
    margin: 0px 7px;
    padding: 14px 0px;
    position: relative;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav > ul > li > a {
    color: rgb(57, 67, 106);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-transform: capitalize;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
a, a:hover, a:focus {
    text-decoration: none;
    cursor: pointer;
    color: rgb(117, 117, 117);
    outline: none;
}
a:hover {
    color: rgb(0, 86, 179);
    text-decoration: underline;
}
.index_v5 .clv_right_header .clv_menu .clv_menu_nav > ul > li > a:after {
    background-color: rgb(34, 34, 34);
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a:hover:after {
    width: 60%;
}
.clv_right_header .clv_menu .clv_menu_nav > ul > li > a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.clv_logo{
    float: left !important;
    width: 100%;
    padding: 13px 0;
}
.clf_btn{
    height: 50px;
    line-height: 50px;
    display: inline-block;
    outline: none;
    border: 1px solid rgb(56, 165, 81);
    background: none;
    cursor: pointer;
    text-align: center;
    text-transform: capitalize;
    border-radius: 30px;
    font-size: 16px;
    color: rgb(56, 165, 81);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    padding: 0 20px;
    margin: 10px 0;
}
.clf_btn:hover{
    background: rgb(56, 165, 81);
    color: #fff;
}
.pull-right{
    float: right;
}
.tabs-section-nav.tabs-section-nav-inline .nav{
    background: transparent !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav{
    border: none !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav-item{
    margin: 0 !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav-link{
    color: rgb(38 73 10);
    padding: 5px 20px;
    border-bottom: solid 3px rgb(52 52 52);
    /* background: rgba(0, 0, 0, 0.12) !important; */
}
.tabs-section-nav.tabs-section-nav-inline .nav-link.active{
    background: rgb(38 73 10) !important;
    color: #ffffff !important;
}
.tabs-section{
    margin: 0 -15px 20px -15px !important;
}
.tabs-section>.tab-content:not(.no-styled){
    background: transparent !important;
    border: none !important;
    border-top:none;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    padding: 0 !important;
}
.tabs-section-nav.tabs-section-nav-inline .nav-item{
    float: right !important;
}
.tab-content{
    /* background: transparent !important; */
    border: none !important;
}
.public-title{
    color: #fff;
}

.morris-hover.morris-default-style {
    border-radius: 10px;
    padding: 6px;
    color: #666;
    background: rgba(255, 255, 255, .8);
    border: solid 2px rgba(230, 230, 230, .8);
    font-family: sans-serif;
    font-size: 12px;
    text-align: center
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: 700;
    margin: .25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: .1em 0
}

.morris-hover {
    position: absolute;
    z-index: 903
}

.fixed-page-footer .morris-hover {
    z-index: 900
}
.tab-pane{
    min-height: 65vh;
    /* height: 500px !important; */
    width: 100%;
    /* width: calc(100% - 50px); */
    max-width: 1200px;
    /* position:  absolute; */
}
.tab-content{
    border-bottom: 2px solid rgb(57, 67, 106) !important;
    border-radius: unset !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: rgb(224, 28, 30) !important;
}
.widget-header-dongker {
    background: rgb(46 64 41);
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 5px 0;
    text-align: center;
}
.graph path{
    background: rgb(57, 67, 106) !important;
}
.pr-0{
    padding-right: 0 !important;
}
.pl-0{
    padding-left: 0 !important;
}
.widget{
    height: 150px !important;
}
.graph{
    height: 110px !important;
}
.description{
    margin-left: -15px;
    padding: 10px 5px 10px 0;
}
.description h4, .description h5{
    font-weight: 900;
    /* color: rgb(57, 67, 106); */
    color: #ffffff;
    margin: 0;
}
.description .label{
    font-size: .8rem !important;
    font-weight: 900 !important;
}
#graphic{
    margin: auto -15px;
}
.clv_copyright_wrapper{
    background-color: rgb(46 64 41);
	text-align: center;
	padding: 14px;
}
.clv_copyright_wrapper > p{
	margin: 0;
	text-transform: capitalize;
	color: #ffffff;
	font-size: 16px;
}
.clv_copyright_wrapper > p > a{
    color: rgb(255, 255, 255);
}
.infografis{
    padding-top: 2em;
}
.infografis #pie{
    height: 480px;
}
.infografis #histogram, .infografis #chart{
    margin: 20px 0;
    height: 350px;
}
.mapboxgl-ctrl-bottom-left{
    display: none !important;
}
.m-5{
    margin: 5px !important;
}
.btn-md{
    padding: 5px 10px !important;
    border: none !important;
}
.btn-white{
    background: #ffffff !important;
    color: rgb(85 85 85) !important;
}
.flot-text{
    color: rgb(255 255 255) !important;
    font-weight: 900;
}