path{
    fill: #ffffff;
    /* fill: rgb(57 67 106); */
    /* fill: rgb(109 108 108); */
    /* fill: rgb(3, 89, 175); */
    /* stroke: rgb(167, 167, 167); */
    stroke: rgb(164 164 164);
    stroke-width: .5px;

    /* stroke-dashoffset: 700; */
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-linecap: butt;
    /* -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out; */
}
.widget path{
    fill: rgb(57 67 106);
}
path:hover {
    /* fill: #ffffff; */
    stroke: #ffffff;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: .9px;
}
.btn-md .btn-label{
    left: -10px !important;
    padding: 5px 9px !important;
}
.btn-intr{
    background: rgb(57 67 106) !important;
}
table.dataTable{
    margin-top: 0 !important;
}
.clv_service_wrapper {
    position: relative;
    /* background-color: rgb(253 250 255); */
    margin-top: 50px;
    padding-bottom: 35px;
    /* padding-bottom: 70px; */
}
.clv_heading {
    text-align: center;
    margin-bottom: 30px;
}
.clv_heading h3 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(34 34 34);
}
.clv_service_wrapper .service_block {
    background-color: rgb(255 255 255);
    border-radius: 10px;
    box-shadow: 0px 0px 21px 1px rgba(0, 0, 0, 0.05);
    text-align: center;
    /* padding: 40px 40px 20px;
    margin-bottom: 30px; */
    padding: 20px 20px 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    border: 2px solid #ffffff;
}
.clv_service_wrapper .service_block:hover{
    background-color: rgb(44 107 153);
    border: 2px solid #ffffff;
}
.clv_service_wrapper .service_block:hover p,
.clv_service_wrapper .service_block:hover h4{
    color: #ffffff;
}
.clv_service_wrapper .service_block p{
    font-family: 'Lato', sans-serif;
    color: rgb(117 117 117);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}
.clv_service_wrapper .service_block h4 {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    color: rgb(19 59 89);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
.clv_service_wrapper .service_block .service_icon {
    margin-bottom: 14px;
}
.service_icon img{
    /* height: 60px; */
    /* width: 60px; */
    width: 25%;
}
.carousel-control-next, .carousel-control-prev,
.carousel-control-next, .carousel-control-next{
    opacity: 1 !important;
}
.carousel-control-next, .carousel-control-prev i,
.carousel-control-next, .carousel-control-next i{
    color: #39436a;
    font-size: 35px;
    font-weight: 900;
}
.carousel-indicators li{
    background-color: rgb(57 67 106 / 22%) !important;
}
.carousel-indicators .active{
    background-color: #39436a !important;
}
circle{
    fill: rgb(255 255 255);
    stroke: rgb(57 67 106) !important;
    stroke-width: 2px;
}
.table.dataTable > thead,
.table.dataTable > thead > tr > th{
    /* background: rgb(57 67 106) !important; */
}
.zoom{
    margin-left: 200px;
}
#slider22 .slider-selection {
    background: #4bfd03;
}
#slider22{
    width: 80% !important;
}
#maps svg{
    width: 100%;
    height: auto;
    min-height: 40vw;
}

div.color-palette {
    width: 100%;
    /* padding: 0 1.5em; */
    float: left;
    cursor: pointer;
    margin-top: -10vh;
}
div.color-palette h5{
    color: rgb(255 255 255);
    font-weight: 600;
    margin-bottom: 5px;
}
div.color-palette>div {
    /* width: calc(100% / 34); */
    height: 15px;
    float: left;
}
div.color-palette div:nth-child(1) div {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
div.color-palette>div div {
    width: 100%;
    height: 15px;
}
div.color-palette div span.color-lock {
    display: block;
    font-size: 14px;
    /* width: 24px; */
    text-align: center;
    height: 24px;
    margin: 0 auto 0;
    background-size: 24px 24px;
    -webkit-transition: all 0.125s ease-out;
    -moz-transition: all 0.125s ease-out;
    -o-transition: all 0.125s ease-out;
    transition: all 0.125s ease-out;
    font-weight: 600;
    color: #ffffff;
    /* opacity: 0.33; */
    /* filter: alpha(opacity=33); */
}
@media(max-width: 599px){
    div.color-palette{
        margin-top: -20px !important;
        margin-bottom: 30px !important;
    }
    div.color-palette h5{
        font-size: 16px;
    }
    div.color-palette>div,
    div.color-palette>div div{
        height: 5px !important;
    }
}